/desktop.ini
/Details.docx
/dreamhouse-logo.png
/GetCloudyConsultingLogo.png
/Microsoft Edge.lnk
/New Microsoft Word Document.docx
/Postman.lnk
/sivakumarreddy - Chrome.lnk
/SNOVASPACE Information pvt ltd
/Visual Studio Code.lnk